<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IIIT Kottayam Coordinators</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f0f0f0;
        }
        header {
            background-color: #004080;
            color: white;
            padding: 20px;
            text-align: center;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        footer {
            background-color: #004080;
            color: white;
            text-align: center;
            padding: 10px;
            bottom: 0;
            width: 100%;
        }
        .table {
            margin-top: 20px;
        }
    </style>
</head>

<body>

<header>
    <a href="/"><img src="/static/images/logo.png" alt="P Cell Logo" style="width: 50px;" ></a>
    <h1>IIIT Kottayam Coordinators</h1>
</header>

<div class="container mt-4">
    <h2>Former Coordinators</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Aditya Vardhan</td>
                <td>avsadityavardhan@gmail.com</td>
            </tr>
            <tr>
                <td>Ruchika Sreedhar</td>
                <td>ruchikasreedhar18bcs@iiitkottayam.ac.in</td>
            </tr>
            <tr>
                <td>Soham Shinde</td>
                <td>soham2019@iiitkottayam.ac.in</td>
            </tr>
            <tr>
                <td>Saddikuti Vishnu Vardhan Reddy</td>
                <td>saddikutivishnu2019@iiitkottayam.ac.in</td>
            </tr>
        </tbody>
    </table>

    <h2>4th Year Coordinators</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Arundathi</td>
                <td>arundhathyk20bec10@iiitkottayam.ac.in</td>
            </tr>
            <tr>
                <td>Saketh Roshan</td>
                <td>roshanrai20bcs122@iiitkottayam.ac.in</td>
            </tr>
            <tr>
                <td>Raunak Singh</td>
                <td>raunaksingh20bcs124@iiitkottayam.ac.in</td>
            </tr>
        </tbody>
    </table>

    <h2>3rd Year Coordinators</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Ajay Krishna</td>
                <td>narayanasetti21bcy32@iiitkottayam.ac.in</td>
            </tr>
            <tr>
                <td>Darisi Priyatham</td>
                <td>darisi21bcy16@iiitkottayam.ac.in</td>
            </tr>
            <tr>
                <td>Sukrit Garg</td>
                <td>sukrit21bcs162@iiitkottayam.ac.in</td>
            </tr>
            <tr>
                <td>Maitri Savla</td>
                <td>maitri21bcs197@iiitkottayam.ac.in</td>
            </tr>
            <tr>
                <td>Siddharth</td>
                <td>siddharth21bcs54@iiitkottayam.ac.in</td>
            </tr>
            <tr>
                <td>Riya Bajaj</td>
                <td>riya21bcs171@iiitkottayam.ac.in</td>
            </tr>
            <tr>
                <td>Aaditi</td>
                <td>aaditi21bec36@iiitkottayam.ac.in</td>
            </tr>
            <tr>
                <td>Shivani</td>
                <td>arishenapalli21bcy6@iiitkottayam.ac.in</td>
            </tr>
            <tr>
                <td>Harsh Gupta</td>
                <td>harsh21bec43@iiitkottayam.ac.in</td>
            </tr>
            <tr>
                <td>Nityam</td>
                <td>nityam21bcs181@iiitkottayam.ac.in</td>
            </tr>
        </tbody>
    </table>

    <h2>2nd Year Coordinators</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Pranav Susar</td>
                <td>susar22bcs85@iiitkottayam.ac.in</td>
            </tr>
            <tr>
                <td>Chitransh Kumar</td>
                <td>chitransh22bec23@iiitkottayam.ac.in</td>
            </tr>
            <tr>
                <td>Aditya Baliga</td>
                <td>aditya22bcs54@iiitkottayam.ac.in</td>
            </tr>
            <tr>
                <td>Sameer Pasha</td>
                <td>sameer22bcs82@iiitkottayam.ac.in</td>
            </tr>
            <tr>
                <td>Anshumohan Acharya</td>
                <td>anshumohan22bcy19@iiitkottayam.ac.in</td>
            </tr>
            <tr>
                <td>Thanmaye Majeti</td>
                <td>samrajya22bec37@iiitkottayam.ac.in</td>
            </tr>
            <tr>
                <td>Mukund P L</td>
                <td>mukundh22bcs100@iiitkottayam.ac.in</td>
            </tr>
            <tr>
                <td>Anju</td>
                <td>anju22bec20@iiitkottayam.ac.in</td>
            </tr>
            <tr>
                <td>Nihit Jaiswal</td>
                <td>nihit22bcs190@iiitkottayam.ac.in</td>
            </tr>
            <tr>
                <td>Vishnu Narayanan</td>
                <td>vishnu22bcs1@iiitkottayam.ac.in</td>
            </tr>
            <tr>
                <td>Suchit Paul</td>
                <td>suchit22bec6@iiitkottayam.ac.in</td>
            </tr>
        </tbody>
    </table>
</div>

<footer>
    <p>IIIT Kottayam | © 2024 All Rights Reserved</p>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>
